<header class="p-3 mb-4 border-bottom text-bg-dark" id="nav-header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <a href="/" class="text-white text-decoration-none">
        <span class="fs-4"><%= t('.title') %></span>
      </a>

      <ul class="nav col-12 col-sm-auto ms-5 me-sm-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="/" class="nav-link px-2 text-white text-decoration-none"><%= t('.home') %></a>
        </li>
      </ul>
    </div>
  </div>
</header>
